# dataset
baseline/data/
baseline/data/*.tar.gz
baseline/data/cifar-10-python.tar.gz

# python cache
__pycache__/
*.py[cod]

# experiment artifacts
*.pt
*.pth
*.ckpt

# logs/temp
*.log
*.tmp

# Datasets
baseline/data/
baseline_nmnist/data/
baseline_cifar100/data/
baseline_cifar10_dvs/data/

# Large archives
*.zip
*.tar.gz

.DS_Store
